1. store and display student information (name,age,grade).

In [1]:
def display_student_info(students):
    for student in students:
        name, age, grade = student
        print(f"Name: {name}, Age: {age}, Grade: {grade}")

students_data = [
    ("Alice", 16, "A"),
    ("Bob", 17, "B"),
    ("Charlie", 16, "C"),
]

display_student_info(students_data)

Name: Alice, Age: 16, Grade: A
Name: Bob, Age: 17, Grade: B
Name: Charlie, Age: 16, Grade: C

2.list prices of grocery items and total them.

In [5]:
grocery_items = (
    ("Milk", 2.50),
    ("Bread", 1.75),
    ("Eggs", 3.00),
    ("Cheese", 4.50),
    ("Apples", 2.00)
)

total_cost = 0

print("Grocery Prices:")
for item, price in grocery_items:
    print(f"{item}: ${price:.2f}")
    total_cost += price

print(f"\nTotal cost: ${total_cost:.2f}")

Grocery Prices:
Milk: $2.50
Bread: $1.75
Eggs: $3.00
Cheese: $4.50
Apples: $2.00

Total cost: $13.75

3.pair items with prices using tuples.
("milk",15),("eggs" ,50), ("bread" ,20)

In [6]:
items = [
    ("milk", 15),
    ("eggs", 50),
    ("bread", 20)
]

# Accessing elements
for item, price in items:
    print(f"{item}: ${price}")

milk: $15
eggs: $50
bread: $20

4. store and display train schedule as tuples.
("rajdhani," "10:00"),("shatabdi", "12:30"), ("duronto", "17:00")

In [2]:
trains = (("rajdhani","10:00"),("shatabdi","12:00"),("duronta","17:00"))
print("train schedule:")
for train in trains:
    print(train[0],"at",train[1])

train schedule:
rajdhani at 10:00
shatabdi at 12:00
duronta at 17:00

5. sort employee records by salary.
("john",40000),("alice",55000),("raj",30000)

In [11]:
employee_records = [
    ("john", 40000),
    ("alice", 55000),
    ("raj", 45000)

]
sorted_employees = sorted(employee_records, key=lambda item: item[1])

print(sorted_employees)

[('john', 40000), ('raj', 45000), ('alice', 55000)]

6. count how many students scored above 75 marks.
marks=(67,88,92,74,76,55)

In [7]:
marks= (67,88,92,74,76,55)
count = sum(1 for mark in marks if mark > 75)
print("marks:",marks)
print("students scoring above 75:",count)

marks: (67, 88, 92, 74, 76, 55)
students scoring above 75: 3

7.create a tuple of stock prices and find the max.
prices=(154.5,160.2,149.8,170.1)

In [2]:
prices = (154.5, 160.2, 149.8, 170.1)
max_price = max(prices)

print("Maximum stock price:", max_price)

Maximum stock price: 170.1

8.Log temperature readings during the day. find the average temperature 
temperatures = (29.5,30.0,32.2,31.5,28.9)

In [4]:
temperatures = (29.5, 30.0, 32.2, 31.5, 28.9)


average_temp = sum(temperatures) / len(temperatures)

print("Average temperature:", average_temp)

Average temperature: 30.419999999999998

9.schedule appoinments(name,time).
appoinments = ("Docter", "10:00 AM"),("Meeting","2:00 PM")

In [5]:
appointments = (("Doctor", "10:00 AM"), ("Meeting", "2:00 PM"))

for name, time in appointments:
    print(f"Appointment: {name} at {time}")

Appointment: Doctor at 10:00 AM
Appointment: Meeting at 2:00 PM

10.Store contact info (name,phone number).
contacts =("Anil","985468256"), ("priya", "645465453")

In [6]:
contacts = (("Anil", "985468256"), ("Priya", "645465453"))

for name, phone in contacts:
    print(f"Name: {name}, Phone: {phone}")

Name: Anil, Phone: 985468256
Name: Priya, Phone: 645465453

11. Display exam schedule with subject and time.
exams =("Math","9:00 AM"),("Science","11:30 AM"),("English","2:00 PM")

In [8]:
exams = (("Math", "9:00 AM"), ("Science", "11:30 AM"), ("English", "2:00 PM"))

for subject, time in exams:
    print(f"Subject: {subject}, Time: {time}")

Subject: Math, Time: 9:00 AM
Subject: Science, Time: 11:30 AM
Subject: English, Time: 2:00 PM