## Practical Assignment 3
# Note : take the set element as per your choice
## Basic Set Programs

#### 1.â€‹Create a set and display its elements

In [1]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Display the set elements
print("Elements of the set:", my_set)

Elements of the set: {1, 2, 3, 4, 5}

#### 2.Add an element to a set

In [2]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

#### 3.Remove an element from a set

In [3]:
my_set = {1, 2, 3}
my_set.remove(2)
print(my_set)  # Output: {1, 3}

{1, 3}

#### 4.Clear all elements from a set

In [4]:
my_set = {1, 2, 3}
my_set.clear()
print(my_set)

set()

#### 5.Copy a set to another set

In [5]:
original_set = {1, 2, 3}
copied_set = original_set.copy()
print(copied_set)  # Output: {1, 2, 3}

{1, 2, 3}

#### 6.Check if an elements exists in a set

In [6]:
my_set = {1, 2, 3, 4}

# Check if 3 is in the set
if 3 in my_set:
    print("3 is in the set")
else:
    print("3 is not in the set")

3 is in the set

#### 7.Find Length of a set using a loop

In [7]:
my_set = {10, 20, 30, 40}
count = 0

for element in my_set:
    count += 1

print("Length of the set:", count)

Length of the set: 4

#### 8.iterate through a set using a loop

In [12]:
my_set = {10, 20, 30, 40}

for item in my_set:
    print(item)

40
10
20
30

## Set Operations

#### 9.Find the union of two sets

In [9]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

#### 10.Find the intersection of two sets

In [10]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3, 4}

{3, 4}

#### 11.Find the difference between two sets

In [11]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

diff_set = set1.difference(set2)
print(diff_set)  # Output: {1, 2}

{1, 2}

#### 12.Find the symmetric difference between two sets

In [13]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

sym_diff_set = set1.symmetric_difference(set2)
print(sym_diff_set)  # Output: {1, 2, 5, 6}

{1, 2, 5, 6}

#### 13.check if one set is a subset of another

In [14]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}

print(set1 <= set2)  # Output: True
print(set2 <= set1)  # Output: False

True
False

#### 14.check if one set is a superset of another

In [15]:
set1 = {1, 2, 3, 4}
set2 = {1, 2}

print(set1.issuperset(set2))  # Output: True
print(set2.issuperset(set1))  # Output: False

True
False

#### 15.check if two sets are disjoint

In [16]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set3 = {3, 4, 5}

print(set1.isdisjoint(set2))  # Output: True  (no common elements)
print(set1.isdisjoint(set3))  # Output: False (3 is common)

True
False

## Set Apllications

#### 16.Remove duplicates from a list using a set

In [17]:
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates by converting to a set
unique_set = set(my_list)

# Convert back to list
unique_list = list(unique_set)

print(unique_list)  # Output: [1, 2, 3, 4, 5] (order may vary)

[1, 2, 3, 4, 5]

#### 17.convert a list to a set and back to a list

In [18]:
my_list = [1, 2, 2, 3, 4, 4, 5]

# Convert list to set (removes duplicates)
my_set = set(my_list)

# Convert set back to list
new_list = list(my_set)

print(new_list)  # Output: [1, 2, 3, 4, 5] (order may vary)

[1, 2, 3, 4, 5]

#### 18.Find a common elements in two lists using sets

In [19]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Convert lists to sets
set1 = set(list1)
set2 = set(list2)

# Find common elements (intersection)
common_elements = set1.intersection(set2)

# Convert back to list if needed
common_list = list(common_elements)

print(common_list)  # Output: [4, 5] (order may vary)

[4, 5]

#### 19.Get elements in one list but not in another using sets

In [20]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Convert lists to sets
set1 = set(list1)
set2 = set(list2)

# Elements in list1 but not in list2
diff = set1.difference(set2)

# Convert back to list if needed
diff_list = list(diff)

print(diff_list)  # Output: [1, 2, 3] (order may vary)

[1, 2, 3]

#### 20.Use set comprehension to generate a set

In [21]:
squares = {x**2 for x in range(1, 11)}
print(squares)
# Output: {1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

## Frozen Set Programs

#### 21.Create and print a frozenset

In [22]:
# Create a frozenset from a list
my_frozenset = frozenset([1, 2, 3, 4])

print(my_frozenset)
# Output: frozenset({1, 2, 3, 4})

frozenset({1, 2, 3, 4})