# Assignment No 2

# 1. Store and display student information

In [2]:
def student_info():
    student = ("Ravi", 16, "10th Grade")
    print("Name:", student[0])
    print("Age:", student[1])
    print("Grade:", student[2])

student_info()

Name: Ravi
Age: 16
Grade: 10th Grade

# 2. List prices of grocery items and total them

In [3]:
def grocery_prices():
    prices = (10, 25, 15, 30)
    print("Prices:", prices)
    print("Total:", sum(prices))

grocery_prices()

Prices: (10, 25, 15, 30)
Total: 80

# 3. Pair items with prices using tuples

In [5]:
def items_with_prices():
    items = (("Milk", 25), ("Eggs", 50), ("Bread", 20))
    for item, price in items:
        print(f"{item}: ₹{price}")

items_with_prices()

Milk: ₹25
Eggs: ₹50
Bread: ₹20

 # 4. Store and display train schedule as tuples

In [7]:
def train_schedule():
    schedule = (("Rajdhani", "10:00"), ("Shatabdi", "12:30"), ("Duronto", "17:00"))
    for train, time in schedule:
        print(f"{train} departs at {time}")

train_schedule()

Rajdhani departs at 10:00
Shatabdi departs at 12:30
Duronto departs at 17:00

#  5. Sort employee records by salary

In [8]:
def sort_employees():
    employees = (("John", 40000), ("Alice", 55000), ("Raj", 30000))
    sorted_employees = sorted(employees, key=lambda x: x[1])
    for emp in sorted_employees:
        print(emp)

sort_employees()

('Raj', 30000)
('John', 40000)
('Alice', 55000)

#  6. Count how many students scored above 75 marks

In [9]:
def count_above_75():
    marks = (67, 88, 92, 74, 76, 55)
    count = sum(1 for mark in marks if mark > 75)
    print("Students scored above 75:", count)

count_above_75()

Students scored above 75: 3

# 7. Create a tuple of stock prices and find the max

In [10]:
def max_stock_price():
    prices = (154.5, 160.2, 149.8, 170.1)
    print("Maximum stock price:", max(prices))

max_stock_price()

Maximum stock price: 170.1

# 8. Log temperature readings and find the average

In [11]:
def average_temperature():
    temperatures = (29.5, 30.0, 32.2, 31.5, 28.9)
    avg_temp = sum(temperatures) / len(temperatures)
    print("Average temperature:", round(avg_temp, 2))

average_temperature()

Average temperature: 30.42

#  9. Schedule appointments (name, time)

In [13]:

def appointments_schedule():
    appointments = (("Doctor", "10:00 AM"), ("Meeting", "2:00 PM"))
    for task, time in appointments:
        print(f"{task} at {time}")

appointments_schedule()

Doctor at 10:00 AM
Meeting at 2:00 PM

# 10. Store contact info (name, phone number)

In [14]:
def contact_info():
    contacts = (("Anil", "9876543210"), ("Priya", "9123456780"))
    for name, number in contacts:
        print(f"{name}: {number}")

contact_info()

Anil: 9876543210
Priya: 9123456780

 # 11. Display exam schedule with subject and time

In [16]:
def exam_schedule():
    exams = (("Math", "9:00 AM"), ("Science", "11:30 AM"), ("English", "2:00 PM"))
    for subject, time in exams:
        print(f"{subject} exam at {time}")

exam_schedule()

Math exam at 9:00 AM
Science exam at 11:30 AM
English exam at 2:00 PM